:root{
    --color-primary: #750061;
    --secondary-bg: #EEEEFF;
}

body{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  data-bs-spy="scroll"
  data-bs-target=".custom-navbar"
  data-bs-offset="150px"
  tabindex="0"
}

/*Navbar styles*/
.align-menu-txt{
    justify-content: end;
}

.nav-style-margin{
    padding: 1%;
}

.custom-navbar .nav-link.active {
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-primary) !important;
}

section {
  scroll-margin-top: 150px;
}

/*General styles*/

.titles-style{
    font-weight: 700;
    margin-bottom: 40px;
}

.text-style{
    line-height: 2;
    margin-bottom: 40px;
}

.text-bold{
    font-weight: 700;
    font-size: 17px;
}

.boton-principal{
    background-color: var(--color-primary);
    color: white;
    padding: 4px 60px;
    border: 0;
    font-weight: 500;
}

.subtitles{
    font-weight: 700;
    margin-bottom: 4%;
    font-size: 25px;
}

/*Hero section*/
.herosection{
    display: flex;
    margin: 5% 4% 7% 7%;
    align-items: center;
}

.heroson{
    width: 40%;
}

/*About section*/
.margin-long{
    margin-left: 7%;
    margin-top: 5%;
}

.about-container{
    display: flex;
    gap: 80px;
    margin: 5% 0 7% 7%;
}

.img-about{
    width: 100%;
    height: auto;
}

.about-columns{
    width: 50%;
    
}

.cols-container{
    display: flex;
}

.col80{
    width: 80%;
}

.col100{
    width: 100%;
}

.valor-about{
    background-color: var(--secondary-bg);
    width: 90%;
    padding: 5% 6%;
    gap: 50px;
    align-items: anchor-center;
    margin-bottom: 1%;
}

.quote{
    width: 80%;
    text-align: center;
    margin-top: 8%;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

@media (min-width: 577px) and (max-width: 1200px) {
  /* tablets */
    .herosection{
        flex-direction: column-reverse;
        margin: 0;
    }
    .heroson{
        width: 80%;
    }
    .text-style{
        margin-top: 40px;
    }
    .text-style{
        width: 70%;
    }
    img{
        width: 85%;
        height: auto;
        text-align: center;
    }

    .about-columns {
    width: 100%;
    }
    .about-container{
        flex-direction: column;
        margin: 5% 0 7% 7%;
    }
    .col80{
        width: 90%;
    }
    .img-about{
    width: 70%;
    display: block;
    margin: 40px auto 0;
    }
    
}

@media (max-width: 576px) {
  /* móviles */
   .herosection{
        flex-direction: column-reverse;
        margin: 0;
    }
    .heroson{
        width: 80%;
    }
    h1{
        margin-top: 40px !important;
    }
    .mediascreen{
        width: 70%;
    }
    img{
        width: 85%;
        height: auto;
        text-align: center;
    }

    .about-columns {
    width: 100%;
    }
    .about-container{
        flex-direction: column;
        margin: 5% 0 7% 7%;
    }
    .col80{
        width: 90%;
    }
    .img-about{
    width: 70%;
    display: block;
    margin: 32px auto 0;
    }
}
