:root{
    --color-primary: #750061;
    --secondary-bg: #EEEEFF;
}

body{
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  data-bs-spy="scroll"
  data-bs-target=".custom-navbar"
  data-bs-offset="150px"
  tabindex="0"
}

/*Navbar styles*/
.align-menu-txt{
    justify-content: flex-end;
}

.nav-style-margin{
    padding: 1%;
}

.custom-navbar .nav-link.active {
  text-decoration: underline;
  font-weight: 700;
  color: var(--color-primary) !important;
}

section {
  scroll-margin-top: 150px;
}

/*General styles*/

.titles-style{
    font-weight: 700;
    margin-bottom: 40px;
}

.text-style{
    line-height: 2;
    margin-bottom: 40px;
}

.text-bold{
    font-weight: 700;
    font-size: 17px;
}

.boton-principal{
    background-color: var(--color-primary);
    color: white;
    padding: 4px 60px;
    border: 0;
    font-weight: 500;
}

.subtitles{
    font-weight: 700;
    margin-bottom: 4%;
    font-size: 25px;
}

/*Hero section*/
.herosection{
    display: flex;
    margin: 5% 4% 7% 7%;
    align-items: center;
}

.heroson{
    width: 40%;
}

/*About section*/
.margin-long{
    margin-left: 7%;
    margin-top: 5%;
}

.about-container{
    display: flex;
    gap: 80px;
    margin: 5% 0 7% 7%;
}

.img-about{
    width: 100%;
    height: auto;
}

.about-columns{
    width: 50%;
    
}

.cols-container{
    display: flex;
}

.col80{
    width: 80%;
}

.col100{
    width: 100%;
}

.valor-about{
    background-color: var(--secondary-bg);
    width: 90%;
    padding: 5% 6%;
    gap: 50px;
    align-items: anchor-center;
    margin-bottom: 1%;
}

.quote{
    width: 80%;
    text-align: center;
    margin-top: 8%;
    font-size: 18px;
    font-style: italic;
    font-weight: 600;
}

/*services section*/
.carusel{
    height: 330px;
    background-color: var(--secondary-bg);
    display: flex;
    padding: 1%;
}

.title-services{
    margin-top: 8%;
    font-size: 25px;
    font-style: italic;
    font-weight: 300;
    padding-bottom: 1%;
}

.col70{
    width: 70%;
}

.style-list-services{
    padding-top: 16%;
}

.img-services{
    display: block;
    margin: 5% 10%;
}

.services-carousel {
  position: relative;
  width: 100%;
  margin: 4rem auto;
}

.viewport {
  overflow: hidden;
}

.track {
  display: flex;
  gap: 3rem;
  transition: transform 0.5s ease;
  padding-left: 10%;
}

/* Card */
.card-service {
  min-width: 60%;
  max-width: 900px;
  background: var(--secondary-bg);
  padding: 5%;
}

/* Flechas */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.prev { left: 1rem; }
.next { right: 1rem; }

/*why section*/
.why-points{
    display: flex;
    gap: 48px;
    border-bottom: 1px solid black;
    height: 120px;
    padding: 3%;
    padding-top: 3%;
    align-items: center;
}


/*Achievements*/
.achi-col{
    display: flex;
    width: 50%;
}

.achi-conteiner{
    display: flex;
    gap: 80px;
    margin: 5% 7%;
    align-items: center;
}

.col-mini{
    display: flex;
    flex-direction: column;
    row-gap: 65px;
    justify-content: flex-end;
    padding-right: 5%;
}

.col-mini-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


@media (min-width: 577px) and (max-width: 1200px) {
  /* tablets */
    .herosection{
        flex-direction: column-reverse;
        margin: 0;
    }
    .heroson{
        width: 80%;
    }
    .text-style{
        margin-top: 40px;
    }
    .text-style{
        width: 70%;
    }
    img{
        width: 85%;
        height: auto;
        text-align: center;
    }

    .about-columns {
    width: 100%;
    }
    .about-container{
        flex-direction: column;
        margin: 5% 0 7% 7%;
    }
    .col80{
        width: 90%;
    }
    .img-about{
    width: 70%;
    scale: 0.9;
    display: block;
    margin: 40px auto 0;
    }
    
    .carusel{
        height: 360px;
        background-color: var(--secondary-bg);
        display: flex;
        padding: 2%;
    }

    .img-services{
    display: block;
    margin: 25% 20%;
    }

    .achi-conteiner{
        flex-direction: column-reverse;
    }

    .achi-col{
        width: 75%;
    }

    .col-mini-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    }

}

@media (max-width: 576px) {
  /* móviles */
   .herosection{
        flex-direction: column-reverse;
        margin: 0;
    }
    .heroson{
        width: 80%;
    }
    h1{
        margin-top: 40px !important;
    }
    .mediascreen{
        width: 70%;
    }
    img{
        width: 85%;
        height: auto;
        text-align: center;
    }

    .about-columns {
    width: 100%;
    }
    .about-container{
        flex-direction: column;
        margin: 5% 0 7% 7%;
    }
    .col80{
        width: 90%;
    }
    .img-about{
    width: 70%;
    display: block;
    margin: 32px auto 0;
    }

    .carusel{
        flex-direction: column-reverse;
        height: 530px;
    }
    .viewport {
    overflow: hidden;
    }

    .track {
        gap: 0;
        padding-left: 0;
    }

    .card-service {
        min-width: 100%;
        max-width: 100%;
        padding: 15%;
    }

    .services-carousel {
        margin: 2rem auto;
    }

    .nav {
        top: auto;
        bottom: -3rem;
        transform: none;
    }

    .prev {
        left: 40%;
    }

    .next {
        right: 40%;
    }

    .img-services {
    display: block;
    margin: -8% 10%;
    padding: 7%;
    }

    .why-points{
    flex-direction: column;
    height: 270px;
    padding-top: 7%;
    }

    .achi-conteiner{
        flex-direction: column-reverse;
    }

    .achi-col{
        flex-direction: column;
    }

    .col-mini{
        padding-bottom: 65px;
    }
}
